In [5]:
import pandas as pd 
import numpy as np 
# 来源：https://www.jianshu.com/p/b4338aa7bf55

In [4]:
# 22.数据去重
df = pd.DataFrame({"A":[1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
df.drop_duplicates(subset="A")

   A
0  1
1  2
3  3
4  4
5  5
8  6
9  7

In [7]:
# 23.每个元素减去所在行的平均值
df = pd.DataFrame(np.random.random(size=(5,3)))
df.sub(df.mean(axis=1), axis=0)

          0         1         2
0  0.336552 -0.142531 -0.194021
1 -0.083015 -0.024511  0.107526
2  0.136089  0.379555 -0.515644
3  0.494758 -0.254150 -0.240608
4  0.105745 -0.330211  0.224466

In [9]:
# 1. 首先获取每行的平均值
rows_mean = df.mean(axis=1)
# 2. 然后执行减法操作
df.sub(rows_mean, axis=0)

          0         1         2
0  0.336552 -0.142531 -0.194021
1 -0.083015 -0.024511  0.107526
2  0.136089  0.379555 -0.515644
3  0.494758 -0.254150 -0.240608
4  0.105745 -0.330211  0.224466

In [11]:
# 24.哪一列数字的总和最小？返回该列的标签
df = pd.DataFrame(np.random.random(size=(5,10)),columns=list("abcdefghij"))

In [12]:
df.sum().idxmin()
# 1. 首先计算每一列的和
columns_sum = df.sum()
# 2. 求和最小值的标签
columns_sum.idxmin()

'e'

In [17]:
# 25.计算一个DataFrame有多少唯一行（即忽略所有重复的行）
df = pd.DataFrame(np.random.randint(0,2,size=(10,3)))

In [21]:
# 26.已知每行中恰好有5个NaN值。对每行查找，找到第三个是NaN的列标签
nan = np.nan
data = [[0.04,  nan,  nan, 0.25,  nan, 0.43, 0.71, 0.51,  nan,  nan],
        [ nan,  nan,  nan, 0.04, 0.76,  nan,  nan, 0.67, 0.76, 0.16],
        [ nan,  nan, 0.5 ,  nan, 0.31, 0.4 ,  nan,  nan, 0.24, 0.01],
        [0.49,  nan,  nan, 0.62, 0.73, 0.26, 0.85,  nan,  nan,  nan],
        [ nan,  nan, 0.41,  nan, 0.05,  nan, 0.61,  nan, 0.48, 0.68]]
columns = list('abcdefghij')
df = pd.DataFrame(data, columns=columns)

In [30]:
(df.isnull().cumsum(axis=1)==3).idxmax(axis=1)

# 1. 将nan换成True，非nan换成False
temp = df.isnull()
# 2. 每行找第三个nan，就是找每行累加和是3时候的最小列索引
sum_3 = temp.cumsum(axis=1)==3
# 3. 找到每行第一个为True的值
sum_3.idxmax(axis=1)

0    e
1    c
2    d
3    h
4    d
dtype: object

In [42]:
# 27.对于每个组(a组,b组,c组)，找到三个数相加的最大和
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})

In [46]:
df.groupby('grps')['vals'].apply(lambda x: x.nlargest(3)).sum(level=0)

# 1. 先分组
group = df.groupby('grps')
# 2. 对每一组的vals分别取出3个最大值
largest_3 = group['vals'].apply(lambda x: x.nlargest(3))
# 3. largest_3是个MultiIndex的Series，对第一层索引(a,b,c)分别求和，指定level层级
largest_3.sum(level=0)

grps
a    409
b    156
c    345
Name: vals, dtype: int64

In [48]:
# 28.df分组求和
df = pd.DataFrame(np.random.RandomState(8765).randint(1, 101, size=(100, 2)), columns = ["A", "B"])

In [41]:
df.groupby(pd.cut(df['A'], bins=range(0, 101, 10)))['B'].sum()

# 1. 对A进行分段，可以用range(0, 101, 10)代替np.arange(0, 101, 10)
cut_a = pd.cut(df['A'], np.arange(0, 101, 10))
# 2. 按cut_a进行分组，再对每组的B进行求和
df.groupby(cut_a)['B'].sum()

   A   B   C
0  4  11   1
1  5   2   8
2  5   5  66
3  5   8   4